__pycache__/
.env
.venv
node_modules/
.vscode/

# Preprocessed data folders
noise_prediction/model_data/
noise_prediction/sample_data/processed/
noise_prediction/sample_data/structured/
noise_prediction/sample_data/labelled/